# Question Q4: Practitioners Main Problems on Model Creation and Training Stage

*Question*: According to your personal experience, please outline the main problems or difficulties (up to three) faced during each of the seven ML life cycle stages.

*Answer Type*: Text Free

### Necessary Libraries

In [1]:
import pandas as pd
from utils.basic import rename_values
from utils.dataframe import DataframeUtils
from utils.plot import PlotUtils
from utils.bootstrapping import BootstrappingUtils

### Dataframe Initialization

Here we get a formatted Pandas DataFrame from a raw CSV containing the Survey responses. When formatting, we discard unused columns and renames existing ones to more clear names. We created two classes that help us manage this dataframe and create meaningful charts.

In [2]:
dataframe_obj = DataframeUtils(df_path='./data/main_data.csv', sep=';',
                               to_discard_columns_file='./data/unused_columns.txt',
                               to_format_columns_file='./data/formatted_columns.txt')
# dataframe preview
dataframe_obj.df.head()

,ID,Status,Duration,D1_Undergraduation,D1_Specialization,D1_Master,D1_Phd,D1_Courses,D1_Others,D2_Country,...,Q15_Model_Deploy_Production_Monitoring,Q16_Model_Monitor_Aspects_Input_And_Output,Q16_Model_Monitor_Aspects_Interpretability_Output,Q16_Model_Monitor_Aspects_Output_And_Decisions,Q16_Model_Monitor_Aspects_Fairness,Q16_Model_Monitor_Aspects_Others,Q16_Model_Monitor_Aspects_Others_Free,Q17_Automated_Machine_Learning_Tools_Yes_No,Q17_Automated_Machine_Learning_Tools_Yes_Free,Origin
2,31,Completed (31),1317,Economics,-99,M.Sc. in Economics,-99,Data Scientist in Datacamp,-99,Brazil,...,-77,not quoted,not quoted,not quoted,not quoted,not quoted,-99,0,-99,https://ww2.unipark.de/uc/seml/
3,34,Completed (31),854,-99,Management,No,No,No,No,Brazil,...,70,not quoted,not quoted,quoted,not quoted,not quoted,-99,No,-99,-99
4,36,Completed (31),1593,Mathematics,Informatics,MSC Computer Science,PhD computer Science,Vários cursos in Coursera,-99,Brazil,...,60,quoted,not quoted,quoted,not quoted,not quoted,-99,"Yes, Please, specify",Own approach,-99
5,57,Completed (31),4238,Computer Science,Data science specialization,-99,-99,-99,-99,Germany,...,100,not quoted,quoted,quoted,not quoted,not quoted,-99,No,-99,-99
6,46,Completed (31),2821,Actuarial Science,Post Graduation in Data Science,M Sc in Data Science -ML models,no Ph D,no other certifications,-99,Brazil,...,80,not quoted,quoted,quoted,not quoted,not quoted,-99,No,-99,-99

In this research, we conservatively considered those who fully completed the survey. So, we discarded suspended submissions.

In [3]:
dataframe_obj.df.drop(dataframe_obj.df[dataframe_obj.df['Status'] == 'Suspended (22)'].index, inplace = True)

In [4]:
# dataframe preview
dataframe_obj.df.head()

,ID,Status,Duration,D1_Undergraduation,D1_Specialization,D1_Master,D1_Phd,D1_Courses,D1_Others,D2_Country,...,Q15_Model_Deploy_Production_Monitoring,Q16_Model_Monitor_Aspects_Input_And_Output,Q16_Model_Monitor_Aspects_Interpretability_Output,Q16_Model_Monitor_Aspects_Output_And_Decisions,Q16_Model_Monitor_Aspects_Fairness,Q16_Model_Monitor_Aspects_Others,Q16_Model_Monitor_Aspects_Others_Free,Q17_Automated_Machine_Learning_Tools_Yes_No,Q17_Automated_Machine_Learning_Tools_Yes_Free,Origin
2,31,Completed (31),1317,Economics,-99,M.Sc. in Economics,-99,Data Scientist in Datacamp,-99,Brazil,...,-77,not quoted,not quoted,not quoted,not quoted,not quoted,-99,0,-99,https://ww2.unipark.de/uc/seml/
3,34,Completed (31),854,-99,Management,No,No,No,No,Brazil,...,70,not quoted,not quoted,quoted,not quoted,not quoted,-99,No,-99,-99
4,36,Completed (31),1593,Mathematics,Informatics,MSC Computer Science,PhD computer Science,Vários cursos in Coursera,-99,Brazil,...,60,quoted,not quoted,quoted,not quoted,not quoted,-99,"Yes, Please, specify",Own approach,-99
5,57,Completed (31),4238,Computer Science,Data science specialization,-99,-99,-99,-99,Germany,...,100,not quoted,quoted,quoted,not quoted,not quoted,-99,No,-99,-99
6,46,Completed (31),2821,Actuarial Science,Post Graduation in Data Science,M Sc in Data Science -ML models,no Ph D,no other certifications,-99,Brazil,...,80,not quoted,quoted,quoted,not quoted,not quoted,-99,No,-99,-99

### Grounded Theory

Here we get a formatted Pandas DataFrame from an Excel file containing the codes and categorization of our qualitative responses.

In [5]:
qualitative_df = pd.read_excel('./data/Problems on ML Stages/MODEL CREATION AND TRAINING.xlsx')
qualitative_df.dropna(inplace=True)
qualitative_df.head()

,lfdn,MODEL CREATION AND TRAINING,TOPIC,CATEGORY
0,31.0,Time to read the literature about theme,LACK OF DATA SCIENCE KNOWLEDGE,PEOPLE
1,36.0,Select the best learning algo,ALGORITHM SELECTION,METHOD
2,46.0,is that a classidication or regression problem?,ALGORITHM SELECTION,METHOD
3,53.0,understand the models,ALGORITHM SELECTION,METHOD
4,64.0,Choose candidate approached,ALGORITHM SELECTION,METHOD

### Basic Analysis

In [6]:
# get our valid respondents ids
respondents_ids = list(dataframe_obj.df['ID'])
respondents_ids = [int(respondent_id) for respondent_id in respondents_ids]
respondents_ids[:5]

[31, 34, 36, 57, 46]

In [7]:
# discard the ids that are suspended
qualitative_df = qualitative_df[qualitative_df['lfdn'].isin(respondents_ids)][['MODEL CREATION AND TRAINING', 'TOPIC', 'CATEGORY']]

In [8]:
# get a list with all the reported categories
category_column = list(qualitative_df['CATEGORY'])
category_column[:5]

['PEOPLE', 'METHOD', 'METHOD', 'METHOD', 'METHOD']

In [9]:
set(category_column)

{'DATA', 'INFRASTRUCTURE', 'INPUT', 'METHOD', 'ORGANIZATION', 'PEOPLE'}

In [10]:
# compute the total of answers that belong to each category
total_per_category_df = qualitative_df[['CATEGORY', 'TOPIC']].groupby(['CATEGORY']).count()
total_per_category_df

                TOPIC
CATEGORY
DATA               54
INFRASTRUCTURE     20
INPUT               4
METHOD            146
ORGANIZATION        9
PEOPLE             11

In [11]:
# get the total of qualitative answers
total_answers = total_per_category_df['TOPIC'].sum()
print(f'The total of qualitative answers to be considered is {total_answers}')

The total of qualitative answers to be considered is 244

In [12]:
# we create two lists that contain, for each category, the total of qualitative answers and their percentage
category_percentage = []
category_total = []
# note that we will have repeated values, once we are creating lists with the same length of the column 'CATEGORY' in the qualitative dataframe
for category in category_column:
    category_percentage.append(round(total_per_category_df.loc[category]['TOPIC'] / total_answers * 100, 2))
    category_total.append(total_per_category_df.loc[category]['TOPIC'])

In [13]:
# include two new columns to our qualitative dataframe
qualitative_df['CATEGORY_TOTAL'] = category_total
qualitative_df['CATEGORY_%'] = category_percentage
qualitative_df.head()

,MODEL CREATION AND TRAINING,TOPIC,CATEGORY,CATEGORY_TOTAL,CATEGORY_%
0,Time to read the literature about theme,LACK OF DATA SCIENCE KNOWLEDGE,PEOPLE,11,4.51
1,Select the best learning algo,ALGORITHM SELECTION,METHOD,146,59.84
2,is that a classidication or regression problem?,ALGORITHM SELECTION,METHOD,146,59.84
3,understand the models,ALGORITHM SELECTION,METHOD,146,59.84
4,Choose candidate approached,ALGORITHM SELECTION,METHOD,146,59.84

In [14]:
# now we group our results considering the category and the topic
qualitative_df = qualitative_df.groupby(['CATEGORY', 'CATEGORY_TOTAL', 'CATEGORY_%', 'TOPIC']).count()

In [15]:
# rename the remaining column, which is now a simple count representing the quantity of each category and topic
qualitative_df.columns = ['QUANTITY']
# add the percentage version of each quantity to improve readability
qualitative_df['QUANTITY_%'] = round(qualitative_df['QUANTITY'] / qualitative_df['QUANTITY'].sum() * 100, 2)
qualitative_df

                                                                                        QUANTITY  \
CATEGORY       CATEGORY_TOTAL CATEGORY_% TOPIC
DATA           54             22.13      CHOOSING AND PARTITIONING DATA                        3
                                         DATA ACCESSIBILITY                                    4
                                         DATA AVAILABILITY                                     6
                                         DATA QUALITY                                         10
                                         DATA UNDERSTANDING                                    6
                                         DATA VOLUME                                           2
                                         GDPR AND/OR OTHER LAW RESTRICTIONS                    4
                                         INSUFFICIENT DATA                                    14
                                         MERGE DATA FROM DIFFERENT SOURCES AND FORMATS         4
                                         MISSING VALUES                                        1
INFRASTRUCTURE 20             8.20       COMPUTATIONAL CONSTRAINTS                            13
                                         PROCESSING TIME                                       7
INPUT          4              1.64       BUSINESS/DOMAIN UNDERSTANDING                         1
                                         DOCUMENTATION                                         1
                                         FIND A GOOD INPUT                                     1
                                         TIME SPENT UNDERSTANDING THE SYSTEM                   1
METHOD         146            59.84      ALGORITHM SELECTION                                  73
                                         BALANCING ACCURACY AND TRANSPARENCY                   1
                                         BALANCING RESULTS AND TIME SPENT                      1
                                         BIAS AND VARIANCE TRADEOFF                            1
                                         BUILD PIPELINES                                       3
                                         CHOOSING AND PARTITIONING DATA                        1
                                         DATA AUGMENTATION                                     1
                                         DATA CLEANING                                         1
                                         DATA ENGINEERING                                      2
                                         DEALING WITH BIAS                                     2
                                         DEALING WITH NOISE                                    1
                                         EFFICIENCY                                            1
                                         EXPERIMENT MANAGEMENT AND CONTROL                     4
                                         FEATURE ENGINEERING                                   6
                                         FREQUENCY AND TIME VALIDATION                         1
                                         HYPERPARAMETER TUNING                                20
                                         LOSS FUNCTION                                         1
                                         MANAGEMENT OF LIBRARIES                               1
                                         MODEL PERFORMANCE OPTIMIZATION                       14
                                         MODEL UPDATE                                          1
                                         MODEL VALIDATION                                      2
                                         OVERENGINEERING                                       1
                                         OVERFITTING AND UNDERFITTING                          4
                                         REDUCE DIMENSIONALITY                                 2
                                         TREATING SPECIFICITY                                  1
ORGANIZATION   9              3.69       DEAL WITH MULTIDISCIPLINARY TEAM                      1
                                         FINANCIAL ISSUES                                      2
                                         LACK OF DATA STEWARDSHIP                              1
                                         LACK OF TIME                                          5
PEOPLE         11             4.51       LACK OF DATA SCIENCE KNOWLEDGE                        9
                                         LACK OF TALENT/SKILL                                  2

                                                                                        QUANTITY_%
CATEGORY       CATEGORY_TOTAL CATEGORY_% TOPIC
DATA           54             22.13      CHOOSING AND PARTITIONING DATA                       1.23
                                         DATA ACCESSIBILITY                                   1.64
                                         DATA AVAILABILITY                                    2.46
                                         DATA QUALITY                                         4.10
                                         DATA UNDERSTANDING                                   2.46
                                         DATA VOLUME                                          0.82
                                         GDPR AND/OR OTHER LAW RESTRICTIONS                   1.64
                                         INSUFFICIENT DATA                                    5.74
                                         MERGE DATA FROM DIFFERENT SOURCES AND FORMATS        1.64
                                         MISSING VALUES                                       0.41
INFRASTRUCTURE 20             8.20       COMPUTATIONAL CONSTRAINTS                            5.33
                                         PROCESSING TIME                                      2.87
INPUT          4              1.64       BUSINESS/DOMAIN UNDERSTANDING                        0.41
                                         DOCUMENTATION                                        0.41
                                         FIND A GOOD INPUT                                    0.41
                                         TIME SPENT UNDERSTANDING THE SYSTEM                  0.41
METHOD         146            59.84      ALGORITHM SELECTION                                 29.92
                                         BALANCING ACCURACY AND TRANSPARENCY                  0.41
                                         BALANCING RESULTS AND TIME SPENT                     0.41
                                         BIAS AND VARIANCE TRADEOFF                           0.41
                                         BUILD PIPELINES                                      1.23
                                         CHOOSING AND PARTITIONING DATA                       0.41
                                         DATA AUGMENTATION                                    0.41
                                         DATA CLEANING                                        0.41
                                         DATA ENGINEERING                                     0.82
                                         DEALING WITH BIAS                                    0.82
                                         DEALING WITH NOISE                                   0.41
                                         EFFICIENCY                                           0.41
                                         EXPERIMENT MANAGEMENT AND CONTROL                    1.64
                                         FEATURE ENGINEERING                                  2.46
                                         FREQUENCY AND TIME VALIDATION                        0.41
                                         HYPERPARAMETER TUNING                                8.20
                                         LOSS FUNCTION                                        0.41
                                         MANAGEMENT OF LIBRARIES                              0.41
                                         MODEL PERFORMANCE OPTIMIZATION                       5.74
                                         MODEL UPDATE                                         0.41
                                         MODEL VALIDATION                                     0.82
                                         OVERENGINEERING                                      0.41
                                         OVERFITTING AND UNDERFITTING                         1.64
                                         REDUCE DIMENSIONALITY                                0.82
                                         TREATING SPECIFICITY                                 0.41
ORGANIZATION   9              3.69       DEAL WITH MULTIDISCIPLINARY TEAM                     0.41
                                         FINANCIAL ISSUES                                     0.82
                                         LACK OF DATA STEWARDSHIP                             0.41
                                         LACK OF TIME                                         2.05
PEOPLE         11             4.51       LACK OF DATA SCIENCE KNOWLEDGE                       3.69
                                         LACK OF TALENT/SKILL                                 0.82