# Question Q4: Practitioners Main Problems on Problem Understanding and Requirements Stage

*Question*: According to your personal experience, please outline the main problems or difficulties (up to three) faced during each of the seven ML life cycle stages.

*Answer Type*: Text Free

### Necessary Libraries

In [1]:
import pandas as pd
from utils.basic import rename_values
from utils.dataframe import DataframeUtils
from utils.plot import PlotUtils
from utils.bootstrapping import BootstrappingUtils

### Dataframe Initialization

Here we get a formatted Pandas DataFrame from a raw CSV containing the Survey responses. When formatting, we discard unused columns and renames existing ones to more clear names. We created two classes that help us manage this dataframe and create meaningful charts.

In [2]:
dataframe_obj = DataframeUtils(df_path='./data/main_data.csv', sep=';',
                               to_discard_columns_file='./data/unused_columns.txt',
                               to_format_columns_file='./data/formatted_columns.txt')
# dataframe preview
dataframe_obj.df.head()

,ID,Status,Duration,D1_Undergraduation,D1_Specialization,D1_Master,D1_Phd,D1_Courses,D1_Others,D2_Country,...,Q15_Model_Deploy_Production_Monitoring,Q16_Model_Monitor_Aspects_Input_And_Output,Q16_Model_Monitor_Aspects_Interpretability_Output,Q16_Model_Monitor_Aspects_Output_And_Decisions,Q16_Model_Monitor_Aspects_Fairness,Q16_Model_Monitor_Aspects_Others,Q16_Model_Monitor_Aspects_Others_Free,Q17_Automated_Machine_Learning_Tools_Yes_No,Q17_Automated_Machine_Learning_Tools_Yes_Free,Origin
2,31,Completed (31),1317,Economics,-99,M.Sc. in Economics,-99,Data Scientist in Datacamp,-99,Brazil,...,-77,not quoted,not quoted,not quoted,not quoted,not quoted,-99,0,-99,https://ww2.unipark.de/uc/seml/
3,34,Completed (31),854,-99,Management,No,No,No,No,Brazil,...,70,not quoted,not quoted,quoted,not quoted,not quoted,-99,No,-99,-99
4,36,Completed (31),1593,Mathematics,Informatics,MSC Computer Science,PhD computer Science,Vários cursos in Coursera,-99,Brazil,...,60,quoted,not quoted,quoted,not quoted,not quoted,-99,"Yes, Please, specify",Own approach,-99
5,57,Completed (31),4238,Computer Science,Data science specialization,-99,-99,-99,-99,Germany,...,100,not quoted,quoted,quoted,not quoted,not quoted,-99,No,-99,-99
6,46,Completed (31),2821,Actuarial Science,Post Graduation in Data Science,M Sc in Data Science -ML models,no Ph D,no other certifications,-99,Brazil,...,80,not quoted,quoted,quoted,not quoted,not quoted,-99,No,-99,-99

In this research, we conservatively considered those who fully completed the survey. So, we discarded suspended submissions.

In [3]:
dataframe_obj.df.drop(dataframe_obj.df[dataframe_obj.df['Status'] == 'Suspended (22)'].index, inplace = True)

In [4]:
# dataframe preview
dataframe_obj.df.head()

,ID,Status,Duration,D1_Undergraduation,D1_Specialization,D1_Master,D1_Phd,D1_Courses,D1_Others,D2_Country,...,Q15_Model_Deploy_Production_Monitoring,Q16_Model_Monitor_Aspects_Input_And_Output,Q16_Model_Monitor_Aspects_Interpretability_Output,Q16_Model_Monitor_Aspects_Output_And_Decisions,Q16_Model_Monitor_Aspects_Fairness,Q16_Model_Monitor_Aspects_Others,Q16_Model_Monitor_Aspects_Others_Free,Q17_Automated_Machine_Learning_Tools_Yes_No,Q17_Automated_Machine_Learning_Tools_Yes_Free,Origin
2,31,Completed (31),1317,Economics,-99,M.Sc. in Economics,-99,Data Scientist in Datacamp,-99,Brazil,...,-77,not quoted,not quoted,not quoted,not quoted,not quoted,-99,0,-99,https://ww2.unipark.de/uc/seml/
3,34,Completed (31),854,-99,Management,No,No,No,No,Brazil,...,70,not quoted,not quoted,quoted,not quoted,not quoted,-99,No,-99,-99
4,36,Completed (31),1593,Mathematics,Informatics,MSC Computer Science,PhD computer Science,Vários cursos in Coursera,-99,Brazil,...,60,quoted,not quoted,quoted,not quoted,not quoted,-99,"Yes, Please, specify",Own approach,-99
5,57,Completed (31),4238,Computer Science,Data science specialization,-99,-99,-99,-99,Germany,...,100,not quoted,quoted,quoted,not quoted,not quoted,-99,No,-99,-99
6,46,Completed (31),2821,Actuarial Science,Post Graduation in Data Science,M Sc in Data Science -ML models,no Ph D,no other certifications,-99,Brazil,...,80,not quoted,quoted,quoted,not quoted,not quoted,-99,No,-99,-99

### Grounded Theory

Here we get a formatted Pandas DataFrame from an Excel file containing the codes and categorization of our qualitative responses.

In [5]:
qualitative_df = pd.read_excel('./data/Problems on ML Stages/PROBLEM UNDERSTANDING.xlsx')
qualitative_df.head()

,lfdn,PROBLEM UNDERSTANDING AND REQUIREMENTS,TOPIC,CATEGORY
0,31,Client often don't know what they want to lear...,PROBLEM UNDERSTANDING,INPUT
1,36,Learning the problem domain,BUSINESS/DOMAIN UNDERSTANDING,INPUT
2,46,understand the pain and identify if ML is real...,PROBLEM UNDERSTANDING,INPUT
3,53,not know about the problem,PROBLEM UNDERSTANDING,INPUT
4,64,"understand the context: domain, what decisions...",PROBLEM UNDERSTANDING,INPUT

### Basic Analysis

In [6]:
# get our valid respondents ids
respondents_ids = list(dataframe_obj.df['ID'])
respondents_ids = [int(respondent_id) for respondent_id in respondents_ids]
respondents_ids[:5]

[31, 34, 36, 57, 46]

In [7]:
# discard the ids that are suspended
qualitative_df = qualitative_df[qualitative_df['lfdn'].isin(respondents_ids)][['PROBLEM UNDERSTANDING AND REQUIREMENTS', 'TOPIC', 'CATEGORY']]

In [8]:
# get a list with all the reported categories
category_column = list(qualitative_df['CATEGORY'])
category_column[:5]

['INPUT', 'INPUT', 'INPUT', 'INPUT', 'INPUT']

In [9]:
# compute the total of answers that belong to each category
total_per_category_df = qualitative_df[['CATEGORY', 'TOPIC']].groupby(['CATEGORY']).count()
total_per_category_df

                TOPIC
CATEGORY
DATA                6
INFRASTRUCTURE      4
INPUT             135
METHOD             61
ORGANIZATION       43

In [10]:
# get the total of qualitative answers
total_answers = total_per_category_df['TOPIC'].sum()
print(f'The total of qualitative answers to be considered is {total_answers}')

The total of qualitative answers to be considered is 249

In [11]:
# we create two lists that contain, for each category, the total of qualitative answers and their percentage
category_percentage = []
category_total = []
# note that we will have repeated values, once we are creating lists with the same length of the column 'CATEGORY' in the qualitative dataframe
for category in category_column:
    category_percentage.append(round(total_per_category_df.loc[category]['TOPIC'] / total_answers * 100, 2))
    category_total.append(total_per_category_df.loc[category]['TOPIC'])

In [12]:
# include two new columns to our qualitative dataframe
qualitative_df['CATEGORY_TOTAL'] = category_total
qualitative_df['CATEGORY_%'] = category_percentage
qualitative_df.head()

,PROBLEM UNDERSTANDING AND REQUIREMENTS,TOPIC,CATEGORY,CATEGORY_TOTAL,CATEGORY_%
0,Client often don't know what they want to lear...,PROBLEM UNDERSTANDING,INPUT,135,54.22
1,Learning the problem domain,BUSINESS/DOMAIN UNDERSTANDING,INPUT,135,54.22
2,understand the pain and identify if ML is real...,PROBLEM UNDERSTANDING,INPUT,135,54.22
3,not know about the problem,PROBLEM UNDERSTANDING,INPUT,135,54.22
4,"understand the context: domain, what decisions...",PROBLEM UNDERSTANDING,INPUT,135,54.22

In [13]:
# now we group our results considering the category and the topic
qualitative_df = qualitative_df.groupby(['CATEGORY', 'CATEGORY_TOTAL', 'CATEGORY_%', 'TOPIC']).count()

In [14]:
# rename the remaining column, which is now a simple count representing the quantity of each category and topic
qualitative_df.columns = ['QUANTITY']
# add the percentage version of each quantity to improve readability
qualitative_df['QUANTITY_%'] = round(qualitative_df['QUANTITY'] / qualitative_df['QUANTITY'].sum() * 100, 2)
qualitative_df

                                                                                           QUANTITY  \
CATEGORY       CATEGORY_TOTAL CATEGORY_% TOPIC
DATA           6              2.41       DATA AVAILABILITY                                        2
                                         DATA COLLECTION                                          1
                                         DATA PREPROCESSING                                       1
                                         DATA QUALITY                                             2
INFRASTRUCTURE 4              1.61       COMPUTATIONAL CONSTRAINTS                                4
INPUT          135            54.22      BALANCING RISKS AND BENEFITS                             1
                                         BUSINESS/DOMAIN UNDERSTANDING                           29
                                         DEFINING/DOCUMENTING REQUIREMENTS                        6
                                         DIFFICULTIES IN VALUE CREATION                           1
                                         DOMAIN COMPLEXITY                                        1
                                         INCOMPLETE/INCORRECT REQUIREMENTS                        5
                                         PROBLEM UNDERSTANDING                                   56
                                         REQUIREMENTS OVERTHINKING                                1
                                         SCOPE DEFINITION                                         4
                                         STRATEGIC ALIGNMENTS                                     1
                                         UNCLEAR GOALS                                           17
                                         UNCLEAR REQUIREMENTS                                    13
METHOD         61             24.50      ACCURACY CHECKING                                        1
                                         COMMUNICATION                                           17
                                         DATA SCIENCE COMPLEXITY                                  3
                                         END TO END PROCESS                                       1
                                         ESTIMATION ISSUES                                        1
                                         LACK OF DATA SCIENCE KNOWLEDGE                           5
                                         MANAGING EXPECTATIONS                                   29
                                         METHOD                                                   1
                                         MODEL EVALUATION METRIC CHOICE                           1
                                         PROJECT                                                  1
                                         SOLUTION UNIQUENESS                                      1
ORGANIZATION   43             17.27      DATA SCIENCE COMPLEXITY                                  1
                                         DEFINITION OF ROLES AND RESPONSIBILITIES                 1
                                         FINANCIAL ISSUES                                         2
                                         LACK OF ANALYTICAL THINKING                              1
                                         LACK OF RESOURCES AND REFERENCES                         4
                                         LACK OF TIME                                             8
                                         LOW CLIENT/DOMAIN EXPERT AVAILABILITY/ENGAGEMENT        25
                                         NO DATA DRIVEN PRIORITY                                  1

                                                                                           QUANTITY_%
CATEGORY       CATEGORY_TOTAL CATEGORY_% TOPIC
DATA           6              2.41       DATA AVAILABILITY                                       0.80
                                         DATA COLLECTION                                         0.40
                                         DATA PREPROCESSING                                      0.40
                                         DATA QUALITY                                            0.80
INFRASTRUCTURE 4              1.61       COMPUTATIONAL CONSTRAINTS                               1.61
INPUT          135            54.22      BALANCING RISKS AND BENEFITS                            0.40
                                         BUSINESS/DOMAIN UNDERSTANDING                          11.65
                                         DEFINING/DOCUMENTING REQUIREMENTS                       2.41
                                         DIFFICULTIES IN VALUE CREATION                          0.40
                                         DOMAIN COMPLEXITY                                       0.40
                                         INCOMPLETE/INCORRECT REQUIREMENTS                       2.01
                                         PROBLEM UNDERSTANDING                                  22.49
                                         REQUIREMENTS OVERTHINKING                               0.40
                                         SCOPE DEFINITION                                        1.61
                                         STRATEGIC ALIGNMENTS                                    0.40
                                         UNCLEAR GOALS                                           6.83
                                         UNCLEAR REQUIREMENTS                                    5.22
METHOD         61             24.50      ACCURACY CHECKING                                       0.40
                                         COMMUNICATION                                           6.83
                                         DATA SCIENCE COMPLEXITY                                 1.20
                                         END TO END PROCESS                                      0.40
                                         ESTIMATION ISSUES                                       0.40
                                         LACK OF DATA SCIENCE KNOWLEDGE                          2.01
                                         MANAGING EXPECTATIONS                                  11.65
                                         METHOD                                                  0.40
                                         MODEL EVALUATION METRIC CHOICE                          0.40
                                         PROJECT                                                 0.40
                                         SOLUTION UNIQUENESS                                     0.40
ORGANIZATION   43             17.27      DATA SCIENCE COMPLEXITY                                 0.40
                                         DEFINITION OF ROLES AND RESPONSIBILITIES                0.40
                                         FINANCIAL ISSUES                                        0.80
                                         LACK OF ANALYTICAL THINKING                             0.40
                                         LACK OF RESOURCES AND REFERENCES                        1.61
                                         LACK OF TIME                                            3.21
                                         LOW CLIENT/DOMAIN EXPERT AVAILABILITY/ENGAGEMENT       10.04
                                         NO DATA DRIVEN PRIORITY                                 0.40